.reset__container {
  width: 80%;
  height: 420px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
}
.reset__wrapper {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.reset__title {
  margin-bottom: 25px;
}

.reset__title h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.reset__title p span {
  color: #f6912b;
  cursor: pointer;
}
.reset__inputs input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  /* outline-color: lightgreen; */
}
.reset_input_all {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* padding: 20px; */
}
.reset_input_all input {
  text-align: center;
  width: 15%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
}
.reset_input_all input:focus {
  border-bottom: 2px solid #f6912b;
  outline: none;
}
.reset__inputs input:focus {
  border-bottom: 2px solid #f6912b;
  outline: none;
}

.reset__wrapper button {
  width: 100%;
  padding: 15px 0px;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  background-color: #516cf0;
  border: none;
  cursor: pointer;
}
.reset__wrapper button:hover {
  opacity: 1;
  background-color: #2346f5;
}
.reset__terms {
  margin-top: 25px;
  font-size: 18px;
  color: #f6912b;
  text-align: start;
}
.reset__terms p {
  margin-top: 15px;
}
.reset__terms p:hover {
  cursor: pointer;
}
.toast__message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
.reset__wrapper button:hover {
  opacity: 1;
  background-color: #2346f5;
}
@media (max-width: 768px) {
  .reset__title h4 {
    font-size: 15px;
    font-weight: 400;
  }
  .reset__wrapper {
    margin-top: 10px;
  }
  .reset__wrapper button {
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-size: 14px;
  }
  .reset_input_all input {
    width: 40%;
    /* padding: 15px; */
  }
}

@media (max-width: 480px) {
  .reset__container {
    padding-top: 20px;
    height: auto;
    margin-left: 35px;
    margin-top: -30px;
    margin-bottom: -50px;
  }
  .reset_input_all input {
    width: 30%;
    /* padding: 15px; */
  }

  .reset__title p {
    font-size: 12px;
  }
}
